.App {
  height: 100vh;
}


ul {
    list-style: none;
  }


.editor {
  height: 90%;
  width: 750%;
  resize: none;
  outline: none;
  border-radius: 0;
  padding: 1.5rem;
  margin-left: 45px;
}

/* ===== START BELOW TEST #300 ( PREVIEW TABLE CSS ===== */

#preview pre {
  background: #d8e6ff;
  padding: 5px 10px 5px 0px;
  margin-top: 5%;
  height: 45%;
  line-height: 1.45;
  overflow: auto;
  color: #555;
  width: 100%;
  border-radius: 3px;
}

#preview code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  background: #d8e6ff;
  padding: 0 3px;
  color: #555;
  border-radius: 3px;
}

#preview tbody tr:nth-child(odd) {
  background: #f9f9f9;
}

#preview blockquote {
  /* border-left: 8px solid #d8e6ff; */
  border-left: 8px solid #a1c3df;
  padding: 0.1rem 1rem 0.0rem;
  font-size: 22px;

}

#preview table {
  border-collapse: collapse !important;
}


#preview tbody tr:nth-child(odd) {
  background: #f9f9f9;
}

#preview td,
#preview th {
  border: 1px solid #ccc;
  padding: 0.6rem 1.3rem;
}


ul, menu, dir {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  }

/* ===== END ABOVE TEST #300 ===== */


.preview {
  height: 95%;
  width: 200%;
  resize: none;
  outline: none;
  border-radius: 0;
  padding: 1.5rem;
  margin-left: 300px;
 
  margin-left: -4% !important; /* gap between two columns */
}

header {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #9e9b97 !important;
  color: #171718;
  position: absolute;
}

 footer {
  /*  color: #ebeef1;  */
  color:#d0cfcf;
  height: 70px;
  font-size: 20px;
  display: flex;
  background-color: #2b4353 !important;
  left: 0;
  top:250%;
  bottom: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  position:absolute!important;  
  overflow: hidden;
}

footer a {
  text-decoration: none;
  color: #a0a1a3;
  font-weight: bold;
  margin-left: 3px;
  font-size: 20px;
  color: #14e9e9 !important; /* Footer font-color */
  
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  position: relative;
  height: 100vh;
}


footer {
  background-color: #cfd4d2;
  height: 5rem;
  width: 100%;
  position: absolute;
  bottom: 0;
}


/* =========================== */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Poppins:wght@300;400&display=swap');

body {
  font-family: 'Lato', sans-serif !important;
  background-color: #ffff !important;
  margin: 0 auto;
}

.header {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  color: #c8d6e5;
  background-color: #222f3e;
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

#header{
  position: absolute;
  top: 0;
  width: 100%;
  margin: 0;
  color: #bfc2c4;
  background-color: #3f556a; /* Header background-color */
  height:100px;
  padding-top: 2%;
  left: 0px;
  margin-left: 0;   
}

#header-content {
  align-self: center;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  color: #c8d6e5;
  background-color: #222f3e;
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
}

#container {
  display: flex;
  flex-direction: row;
  min-height: calc(100vh - 120px);
  gap: 20px;
  align-items: stretch;
}


#container-fluid {
  display: flex;
  flex-direction: row;
  min-height: calc(100vh - 120px);
  gap: 2px;
  align-items: stretch;
  width: 100%;
}

#editor {
  flex-basis: 50%;
  margin-left: 20px;
}

#editor-text {
  font-family: 'Lato', sans-serif;
  padding-left: 20px;
  padding-top: 20px;
  height: calc(100% - 34px);
  width: 100%;
}

#editor-nav {
  display: flex ;
  gap: 1px !important;
}

.nav-button {
  flex-basis: calc(100% / 11);
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
}

button {
  font-family: inherit;
}

#previewer {
  flex-basis: 50%;
  margin-right: 20px;
  color: #fff;
  border-style: groove;
  border-color: #595b5c;
}

#preview-title {
  
  padding-left: 20px;
  height: 32px;
  line-height: 32px;
  font-size: 14px;
  position: relative;
}

#preview-text {
  padding-left: 20px;
  color:rgb(27, 27, 26);
}

